/*chasm styles*/
/*add mobile responsiveness at another hackathon*/
.container {
  height: 120vh;
  overflow: hidden;
}

/*html, body {margin: 0;}*/
/*container {margin: 0; height: 100%; overflow: hidden}*/

#person {
  position: absolute;
  margin-left: 400px;
  transform:
  translateY(-45vh)
  translateX(-5vh);
  z-index: 999;
  transition: transform .2s ease-in-out;
}

#chasm-top {
  position: relative;
  width: 150vh;
  height: 100vh;
  background-color: #4a8fe3;
  margin-left: 60vh;
  padding-top: 10vh;
  transform: translate(50vh)
  translateY(5vh)
  translateX(30vh)
  rotate(-25deg)
  skewX(40deg)
;
  overflow-y: hidden;
  z-index: 999;
}

#chasm-cliff {
  position: relative;
  margin-top: -49.8vh;
  width: 150vh;
  height: 70vh;

  background: linear-gradient(135deg, #69abec, #559ae6);
;
  transform:
  translateX(88vh)
  translateY(9vh);

  overflow-x:hidden;
}


#chasm-bottom {
  transition: transform .2s ease-in-out;

  transform:
  translateX(-80vh)
  translateY(-24.5vh)
  rotate(-25deg)
  skewX(40deg);
  position: relative;
  background-color: #4a8fe3;
  width: 200vh;
  height: 100vh;
}
