/*chasm styles*/
/*add mobile responsiveness at another hackathon*/
.container {
  height: 130vh;
  overflow: hidden;
}

#person {
  position: absolute;
  margin-left: 400px;
  transform:
  translateX(30vh)
  translateY(-61.1vh)
  ;
  transition: transform .2s ease-in-out;
  z-index: 998;
}

#chasm-top {
  position: relative;
  width: 150vh;
  height: 100vh;
  background-color: #4a8fe3;
  margin-left: 60vh;
  padding-top: 10vh;

  transform: translate(50vh)
  translateY(5vh)
  translateX(30vh)
  rotate(-25deg)
  skewX(40deg)
;
  overflow-y: hidden;
  z-index: 998;
}

#chasm-cliff {
  position: relative;
  width: 150vh;
  height: 70vh;
  margin-top: -49.8vh;
  background: linear-gradient(135deg, #69abec, #559ae6);
;
  transform:
  translateX(88vh)
  translateY(9vh);

  overflow-x:hidden;
}


#chasm-bottom {
  width: 200vh;
  height: 100vh;
  transform:
  translateX(-45vh)
  translateY(-40.59vh)
  rotate(-25deg)
  skewX(40deg);
  position: relative;
  background-color: #4a8fe3;
  transition: transform .2s ease-in-out;
}
